{%extends "layout.html"%}
{%block page%}
 
 <h3>Şehirler ...</h3>
 {% if session["logged_in"] == True %}
          <small>Hoşgeldin {{session["username"]}} </small>
 {% endif %}
 <hr>
 <a href="/cities/add" class="btn btn-primary">Şehir Ekle</a>
<table class="table table-hover">
    <thead>
        <tr>
            <th >id</th>
            <th >Şehir Adı</th>
        </tr>
    </thead>
    <tbody>
       
       {% for element in cities %}
       <tr>
        <td >{{ element.id }}</td>
        <td >{{ element.name }}</td>
        
        <td><a class="btn btn-success"  href="/cities/edit/{{ element.id }}">Güncelle</a></td>
        <td><a class="btn btn-danger"  href="/cities/delete/{{ element.id }}">Sil</a></td>
    </tr>       
       {% endfor %}
       
    </tbody>
  </table>
 {%endblock page%}
      