{%extends "layout.html"%}
{%block page%}

<h3>Giriş .....</h3>

<form method="post" action="{{ url_for('login') }}">
    <div class="mb-3">
        <label   class="form-label">Email address</label>
        <input type="text" class="form-control" id="username" name="username">
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{%endblock page%}
