{%extends "layout.html"%}
{%block page%}
<div class="col-md-5">
     <h3>Makaleler </h3>
     <hr>
     <form class="form-inline my-2 my-lg-0"  method="POST">
          <input class="form-control mr-sm-2" name="keyword" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
     </form>
     <hr>
     <ul class="list-group">
          {% for article in articles %}
          <li class="list-group-item">
               <a href="/article/detail/{{article.id}}">{{article.title}}</a>
          </li>
          {%endfor%}
     </ul>
     <hr>
</div>
{%endblock page%}