{%extends "layout.html"%}
{%block page%}
 
 <h3>Makalelerim.....</h3>
 {% if session["logged_in"] == True %}
          <small>Hoşgeldin {{session["username"]}} </small>
 {% endif %}
 <hr>
 <a href="/article/addarticle" class="btn btn-primary"> Makale Ekle</a>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Başlık</th>
            <th scope="col">Tarih</th>
        </tr>
    </thead>
    <tbody>
       
       {% for element in articles %}
       <tr>
        <td scope="row">{{ element.id }}</td>
        <td> <a href="/article/detail/{{ element.id}}">{{ element.title }}</a> </td>
        <td>{{ element.created_date }}</td>
        <td><a class="btn btn-success"  href="/article/edit/{{ element.id }}">Güncelle</a></td>
        <td><a class="btn btn-danger"  href="/article/delete/{{ element.id }}">Sil</a></td>
    </tr>       
       {% endfor %}
       
    </tbody>
  </table>
 {%endblock page%}
      