{% extends "base.html" %}

{% block title %}Bolumler{% endblock %}

{% block content %}
<h1>Bolumler</h1>
<a class="btn btn-primary mb-3" href="/departments/add">Bolum Ekle</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Bolum Adi</th>
            <th>Guncelle</th>
            <th>Sil</th>
        </tr>
    </thead>
    <tbody>
        {% for department in departments %}
        <tr>
            <td>{{ department.id }}</td>
            <td>{{ department.name }}</td>
            <td><a class="btn btn-success btn-sm" href="/departments/update/{{ department.id }}">Guncelle</a></td>
            <td><a class="btn btn-danger btn-sm" href="/departments/delete/{{ department.id }}">Sil</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
