{% extends 'copy/layout.html' %}
{% block page %}
{% set student = ogrenci %}
<h3>Öğrenci Güncelle</h3>
<hr>
    <form action="{{ url_for('ogrenci_guncelle', id=student.id) }}" method="post">
        <div class="col-md-5">
            <label for="ad" class="form-label">Adı</label>
            <input type="text" class="form-control" id="ad" name="ad" required  value="{{ student.ad }}">

            <label for="soyad" class="form-label">Soyadı</label>
            <input type="text" class="form-control" id="soyad" name="soyad" required  value="{{ student.soyad }}">

            <label for="bolumid" class="form-label">Bölüm</label>
            <select class="form-select" id="bolumid" name="bolumid" required>
                {% for department in bolumler %}
                {% if department.id == student.bolumid %}
                <option value= "{{department.id}}" selected>{{ department.bolumad }}</option>
                {% else %}
                 <option value= "{{department.id}}">{{ department.bolumad }}</option>
                {% endif %}
                {% endfor %}
            </select>
            
            <button type="submit" class="btn btn-primary">Güncelle</button>
        </div>
    </form>
{%endblock %}

