{% extends 'copy/layout.html' %}
{% block page %}
<h3>Öğrenciler </h3>
<hr>
<a class="btn btn-primary" href="/ogrenci/ekle">Öğrenci Ekle</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Ad Soyad</th>
            <th scope="col">Bölüm</th>
            <th scope="col">İşlemler</th>
        </tr>
    </thead>
    <tbody>
        {% for student in ogrenciler %}
        <tr>
            <td>{{ student.full_name }}</td>
            <td>{{ student.bolumad }}</td>
            <td><a href="/ogrenci/guncelle/{{ student.id }}" class="btn btn-primary btn-sm">Güncelle</a>
            <td> <a href="/ogrenci/sil/{{ student.id }}" class="btn btn-danger btn-sm">Sil</a></td>
        </tr>
        {% endfor %}
    </tbody>
    {% endblock %}