<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proje</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
      <a class="navbar-brand" href="/">Proje</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/article/articles">Makaleler</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          {% if session["logged_in"] == True  %} 
          <li class="nav-item">
          <a class="nav-link"> <p class="nav-link" style="color: yellow;">{{session["username"]}}</p></a>
          </li >
          <li class="nav-item">
            <a class="nav-link" href="/article/dashboard">Dash Board</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          {% else %} 
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
          {% endif %}
 
        </ul>
      </div>
    </nav>
  </body>
</html>
